# Dependency directories
/node_modules
/.pnp
.pnp.js

# Testing directories
/coverage

# Build directories
/build
/dist

# Storybook directories
/.storybook
/storybook-static

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
/.vscode
/.idea
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

# Mac directories and files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight
.Trashes
ehthumbs.db
Thumbs.db

# Others
*.log
*.lock
*.pid
.yarn-
*.idea/