.App {
  /* border: 1px solid red; */
  text-align: center;
  height: 100vh;
  background-color: rgba(87, 87, 87, 0.4);
  display: grid;
  grid-template-columns: 8% 1fr; /* Sidebar and right side */
  grid-template-rows: 8% 1fr; /* Top bar and main working area */
}

.sidebar-area {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  /* background-color: #d05858; */
  align-self: center;
}

.top-bar {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #ddd;
  padding: 10px;
}

.main-area {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 20px;
}
