.footer-icons{
    margin-top: 2rem;
    margin-bottom: 2rem;
    position: absolute; /* Position absolute to place it at the bottom */
    bottom: 0;
}

.footer-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.footer-icon-text{
    margin-top: 0.5rem;
    font-size: 0.8rem;
}